/* COLOR VARIABLES */

$PG-01-color: #1591DD;
$PG-02-color: #FBDF31;
$PG-03-color: #F0F0F0;
$PG-04-color: #97e0a6;
$PG-05-color: #D1D1D1;
$PG-06-color: #E06260;
$PG-07-color: #FFFFFF;
$PG-08-color: #000000;
$PG-09-color: #8a8a8a;

/* FONT SIZE VARIABLES */

$PG-fs09: 0.9rem;
$PG-fs10: 1.0rem;
$PG-fs11: 1.1rem;
$PG-fs12: 1.2rem;
$PG-fs13: 1.3rem;
$PG-fs14: 1.4rem;
$PG-fs15: 1.5rem;
$PG-fs16: 1.6rem;
$PG-fs17: 1.7rem;
$PG-fs18: 1.8rem;
$PG-fs19: 1.9rem;
$PG-fs20: 2.0rem;
$PG-fs21: 2.1rem;
$PG-fs22: 2.2rem;
$PG-fs25: 2.5rem;
$PG-fs30: 3.0rem;


/* FONT WEIGTH VARIABLES */

$PG-200: 200;
$PG-300: 300;
$PG-400: 400;
$PG-500: 500;
$PG-600: 600;
$PG-700: 700;
$PG-800: 800;
$PG-900: 900;
$PG-1000: 1000;